# dependencies
node_modules/

# build output
dist/

# IDEs
.vscode/
.idea/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# tests
coverage/

# model files
*.gguf